# Intermediate Pandas

The purpose of this lesson is to show some interesting and useful capabilities that Pandas offers for data analysis. 

Let's first import the cars.csv that we used last week:

In [16]:
import pandas as pd

cars_df = pd.read_csv("cars.csv")

print(cars_df.head(6))

  Unnamed: 0    Model    Price  Quantity   Revenue Door_Style  High_rev
0      Honda    Civic   699.99       100   69999.0      Sedan     False
1     Toyota    Camry   999.99       300  199998.0      Sedan      True
2    Hyundai  Elantra   799.99       300  239997.0      Sedan      True
3       Ford    Focus   899.99       400  359996.0      Sedan      True
4   Mercedes  S Class  1299.99       300  389997.0      Coupe      True
5   Infiniti      Q60  1099.99       100  109999.0      Coupe     False

In [17]:
# Prints the mean of all the numeric columns
# print(cars_df.mean())
# print()

# Print summary statistics
# Very useful for exploratory data analysis! 
print(cars_df.describe())
# ?pd.DataFrame.describe()
print()

# You can apply lambda(anonymous) functions to certain columns in your dataframe for quick manipulations
print(cars_df["Model"].apply(lambda x: x.upper()))

             Price    Quantity        Revenue
count     7.000000    7.000000       7.000000
mean   1042.847143  242.857143  238569.142857
std     281.999662  113.389342  121026.394214
min     699.990000  100.000000   69999.000000
25%     849.990000  150.000000  154998.500000
50%     999.990000  300.000000  239997.000000
75%    1199.990000  300.000000  329997.000000
max    1499.990000  400.000000  389997.000000

0      CIVIC
1      CAMRY
2    ELANTRA
3      FOCUS
4    S CLASS
5        Q60
6       370Z
Name: Model, dtype: object

In [18]:
# Querying / Filtering
print(cars_df)
print()
# Select car models that are 'coupe' styled and earn high revenue
print(cars_df.query('Door_Style=="Sedan" | Price<1000'))
print()

  Unnamed: 0    Model    Price  Quantity   Revenue Door_Style  High_rev
0      Honda    Civic   699.99       100   69999.0      Sedan     False
1     Toyota    Camry   999.99       300  199998.0      Sedan      True
2    Hyundai  Elantra   799.99       300  239997.0      Sedan      True
3       Ford    Focus   899.99       400  359996.0      Sedan      True
4   Mercedes  S Class  1299.99       300  389997.0      Coupe      True
5   Infiniti      Q60  1099.99       100  109999.0      Coupe     False
6     Nissan     370Z  1499.99       200  299998.0      Coupe      True

  Unnamed: 0    Model   Price  Quantity   Revenue Door_Style  High_rev
0      Honda    Civic  699.99       100   69999.0      Sedan     False
1     Toyota    Camry  999.99       300  199998.0      Sedan      True
2    Hyundai  Elantra  799.99       300  239997.0      Sedan      True
3       Ford    Focus  899.99       400  359996.0      Sedan      True

In [19]:
# Grouping summaries
print(cars_df.groupby('Door_Style').mean())
print()

# Just the mean of the revenues for each door_style
print(cars_df.groupby('Door_Style')["Revenue"].mean())
print()

# Multiple grouping options
print(cars_df.groupby(['Door_Style', "High_rev"]).mean())

              Price  Quantity        Revenue  High_rev
Door_Style
Coupe       1299.99       200  266664.666667  0.666667
Sedan        849.99       275  217497.500000  0.750000

Door_Style
Coupe    266664.666667
Sedan    217497.500000
Name: Revenue, dtype: float64

                       Price    Quantity        Revenue
Door_Style High_rev
Coupe      False     1099.99  100.000000  109999.000000
           True      1399.99  250.000000  344997.500000
Sedan      False      699.99  100.000000   69999.000000
           True       899.99  333.333333  266663.666667

In [20]:
# Binning data into categories
percentiles = [0, cars_df["Price"].quantile(0.25), cars_df["Price"].quantile(0.75), cars_df["Price"].max()]
price_type = ["Inexpensive", "Midrange", "Luxury"]

# The cut function is useful for taking continuous variables, like price, and making them categorical!
cars_df["Price_type"] = pd.cut(cars_df['Price'], percentiles, labels=price_type)
print(cars_df)

# But the values in "Price_type" aren't true categories yet...

  Unnamed: 0    Model    Price  Quantity   Revenue Door_Style  High_rev  \
0      Honda    Civic   699.99       100   69999.0      Sedan     False
1     Toyota    Camry   999.99       300  199998.0      Sedan      True
2    Hyundai  Elantra   799.99       300  239997.0      Sedan      True
3       Ford    Focus   899.99       400  359996.0      Sedan      True
4   Mercedes  S Class  1299.99       300  389997.0      Coupe      True
5   Infiniti      Q60  1099.99       100  109999.0      Coupe     False
6     Nissan     370Z  1499.99       200  299998.0      Coupe      True

    Price_type
0  Inexpensive
1     Midrange
2  Inexpensive
3     Midrange
4       Luxury
5     Midrange
6       Luxury

In [21]:
# Take the price_type values and turn them into categories (faster operations under the hood)
# Notice the order of the categoricals
cars_df["Price_type"] = cars_df["Price_type"].astype("category")
print(cars_df["Price_type"])
print()
print("Is the Series ordered? " + str(cars_df["Price_type"].cat.ordered))

cars_df["Price_type"] = cars_df["Price_type"].cat.as_unordered()
print("Is the Series ordered? " + str(cars_df["Price_type"].cat.ordered))

0    Inexpensive
1       Midrange
2    Inexpensive
3       Midrange
4         Luxury
5       Midrange
6         Luxury
Name: Price_type, dtype: category
Categories (3, object): [Inexpensive < Midrange < Luxury]

Is the Series ordered? True
Is the Series ordered? False

In [22]:
# We are currently in the wrong order! 
    # Inexpensive < Luxury < Midrange
# Let's change it to the right order:
    # Inexpensive < Midrange < Luxury
cars_df["Price_type"] = cars_df["Price_type"].cat.reorder_categories(["Inexpensive","Midrange","Luxury"], ordered=True)

print(cars_df["Price_type"])
print()
print(cars_df.sort_values(by="Price_type")) # Try changing "Price_type" to "Revenue"!

0    Inexpensive
1       Midrange
2    Inexpensive
3       Midrange
4         Luxury
5       Midrange
6         Luxury
Name: Price_type, dtype: category
Categories (3, object): [Inexpensive < Midrange < Luxury]

  Unnamed: 0    Model    Price  Quantity   Revenue Door_Style  High_rev  \
0      Honda    Civic   699.99       100   69999.0      Sedan     False
2    Hyundai  Elantra   799.99       300  239997.0      Sedan      True
1     Toyota    Camry   999.99       300  199998.0      Sedan      True
3       Ford    Focus   899.99       400  359996.0      Sedan      True
5   Infiniti      Q60  1099.99       100  109999.0      Coupe     False
4   Mercedes  S Class  1299.99       300  389997.0      Coupe      True
6     Nissan     370Z  1499.99       200  299998.0      Coupe      True

    Price_type
0  Inexpensive
2  Inexpensive
1     Midrange
3     Midrange
5     Midrange
4       Luxury
6       Luxury

In [23]:
print(cars_df["Price_type"].value_counts())
print()
print(cars_df["Price_type"].describe())
print()
print(cars_df.groupby("Price_type")["Revenue"].sum())

Midrange       3
Luxury         2
Inexpensive    2
Name: Price_type, dtype: int64

count            7
unique           3
top       Midrange
freq             3
Name: Price_type, dtype: object

Price_type
Inexpensive    309996.0
Midrange       669993.0
Luxury         689995.0
Name: Revenue, dtype: float64