In [1]:
import numpy as np
import pandas as pd

In [4]:
cars = pd.read_csv('/Users/stellasotos/Desktop/cnt_km_year_powerPS_minPrice_maxPrice_avgPrice_sdPrice.csv')

In [5]:
cars.head()

   count      km  year  powerPS  minPrice  maxPrice   avgPrice      sdPrice
0     19  125000  1991       40       300      1499   648.3158   352.035293
1     69  150000  1991       40       110      1600   516.4348   346.767661
2     11   90000  1991       60       330     10000  2342.4545  3017.432333
3     26  100000  1991       60       200      8750  1392.3846  1598.662833
4     42  125000  1991       60       150      4600  1140.6429  1010.314138

In [6]:
cars.columns

Index(['count', 'km', 'year', 'powerPS', 'minPrice', 'maxPrice', 'avgPrice',
       'sdPrice'],
      dtype='object')

In [7]:
cars.columns[2]

'year'

In [8]:
cars.shape

(1770, 8)

In [9]:
stud = pd.read_csv('/Users/stellasotos/Desktop/student-mat.csv')

In [10]:
stud.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [11]:
stud.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [13]:
stud.freetime.value_counts()

3    157
4    115
2     64
5     40
1     19
Name: freetime, dtype: int64

In [14]:
stud.romantic.value_counts()

no     263
yes    132
Name: romantic, dtype: int64

In [15]:
stud.sex.value_counts()

F    208
M    187
Name: sex, dtype: int64

In [16]:
stud.reason.value_counts()

course        145
home          109
reputation    105
other          36
Name: reason, dtype: int64

In [17]:
stud.absences.value_counts().max()

115

In [21]:
total_abs = stud.absences.value_counts().count()
total_abs

34

In [22]:
run = pd.read_csv('/Users/stellasotos/Desktop/MarathonData.csv')

In [23]:
run.head()

,id,Marathon,Name,Category,km4week,sp4week,CrossTraining,Wall21,MarathonTime,CATEGORY
0,1,Prague17,Blair MORGAN,MAM,132.8,14.434783,NaN,1.16,2.37,A
1,2,Prague17,Robert Heczko,MAM,68.6,13.674419,NaN,1.23,2.59,A
2,3,Prague17,Michon Jerome,MAM,82.7,13.520436,NaN,1.30,2.66,A
3,4,Prague17,Daniel Or lek,M45,137.5,12.258544,NaN,1.32,2.68,A
4,5,Prague17,Luk ? Mr zek,MAM,84.6,13.945055,NaN,1.36,2.74,A

In [27]:
run.columns

Index(['id', 'Marathon', 'Name', 'Category', 'km4week', 'sp4week',
       'CrossTraining', 'Wall21', 'MarathonTime', 'CATEGORY'],
      dtype='object')

In [28]:
run.Name.value_counts

<bound method IndexOpsMixin.value_counts of 0                Blair MORGAN
1               Robert Heczko
2               Michon Jerome
3               Daniel Or lek
4                Luk ? Mr zek
5                David Pecina
6                Tomas Drabek
7                    Jan Rada
8                Tomas Drabek
9             martin ?indel ?
10             Maksim Remezau
11         Jaroslaw Marchewka
12               Tom ? K?e?ek
13                Ji?، Polcar
14               Denis Wachtl
15               David Lehnen
16             Jپrgen Steiner
17                David Marek
18                 Jan Fri?ek
19            Vlastimil Lys k
20               Radek Dvo? k
21              Jind?ich Lisى
22    Carlos Valladares Calvo
23             Jiri Syrovatko
24             Florian Kobler
25                  Jan Ro?ek
26                Cat Simpson
27               Pavel Hlo?ek
28            Enrico Ballerin
29           Jaroslav Jur sek
               ...
57             Michel Brucker
58                 Mark Orton
59         Hannes Lilljequist
60           Szigyarto Laszlo
61          Jaroslav Valeri n
62              Ale? Kuchynka
63             Bradley Selmes
64        Frederic Bonningues
65               Barry Sacher
66      Michal korchan Michal
67            Branislav Jacko
68               Joost Saanen
69                marek kolba
70                  Roy Bruhn
71            Martin Bo Meyer
72                 Lucie Zona
73            Pavel Szappanos
74              Radim Rimanek
75                Piers Ronan
76              Michal Karhan
77               Luk ? Pe?iva
78                Chris Smith
79              Martin Werner
80                C‚dou Gatto
81                Nathan Khan
82           Stefano Vegliani
83             Andrej Madliak
84                 Yoi Ohsako
85                 Simon Dunn
86                Pavel ?imek
Name: Name, Length: 87, dtype: object>

In [29]:
run.CATEGORY.value_counts()

B    28
C    21
A    21
D    17
Name: CATEGORY, dtype: int64

In [30]:
run.MarathonTime.value_counts()

3.32    3
3.56    2
3.55    2
3.50    2
3.22    2
3.93    2
2.87    2
2.88    2
3.24    2
3.21    2
3.19    2
3.28    2
2.91    2
3.90    2
3.52    2
3.47    2
3.64    2
3.33    2
3.69    2
3.46    1
3.76    1
3.98    1
2.68    1
2.66    1
3.11    1
2.37    1
3.36    1
3.16    1
2.59    1
3.95    1
       ..
3.78    1
3.87    1
3.75    1
2.99    1
3.04    1
3.45    1
2.86    1
3.05    1
3.80    1
3.23    1
2.83    1
3.94    1
3.89    1
2.84    1
3.67    1
2.93    1
2.89    1
3.14    1
3.51    1
3.65    1
3.35    1
3.09    1
3.68    1
3.40    1
3.92    1
3.15    1
2.74    1
3.10    1
2.90    1
3.25    1
Name: MarathonTime, Length: 67, dtype: int64

In [35]:
timeGrp = run.groupby(by=['CATEGORY']).sum()
timeGrp.mean()['CATEGORY']

KeyError: 'CATEGORY'